{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Зарубежная литература</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/polls.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">СМЭК</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Зарубежная литература</a></li>
              <li><a href="#">Владимир Ульянов</a></li>
              <li><a href="#">10 А класс</a></li>
              <li><a href="#">2 четверть</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><a>11 из 13 вопросов завершены</a></li>
              <li><a href="#">Зарубежная литература</a></li>
              <li class="active"><a href="#">Русский язык<span class="sr-only">(current)</span></a></li>
              <li><a href="#">История</a></li>
              <li><a href="#">Информатика</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

              <div class="jumbotron">
                  <p>
                      Максимально честно ответьте на вопросы. Оцените утверждения по шкале от 1 до 5, где 1 - очень мало, 5 - очень много. Обязательно нудно ответить на все вопросы. Комментарий оставлять нее обязательно. Когда ответите на все вопросы, нажмите кнопку далее, чтобы перейти к оценке следующего предмета или закончить опрос.
                  </p>
              </div>

            <h4 class="sub-header">Насколько те задания, которые даёт вам учитель, помогают вам лучше понять предмет?</h4>
            <form>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                <label class="radio-inline"><input type="radio" name="optradio">Затрудняюсь ответить</label>
            </form>

            <h4 class="sub-header">Насколько большую часть времени вы тратите на учебу в течение дня по этому предмету?</h4>
            <form>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                <label class="radio-inline"><input type="radio" name="optradio">Затрудняюсь ответить</label>
            </form>
            <h4 class="sub-header">Насколько большую часть времени вы тратите на учебу в течение дня по этому предмету?</h4>
            <form>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                <label class="radio-inline"><input type="radio" name="optradio">Затрудняюсь ответить</label>
            </form>
            <h4 class="sub-header">Насколько ясно и последовательно учитель рассказывает вам и вашим одноклассникам материал во время занятий?</h4>
            <form>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                <label class="radio-inline"><input type="radio" name="optradio">Затрудняюсь ответить</label>
            </form>
            <h4 class="sub-header">В какой степени вы можете использовать предоставляемую учителем информацию о допущенных в ходе выполнения заданий по предмету ошибках для того, чтобы исправиться и обучиться чему-то новому?</h4>
            <form>
                <label class="radio-inline"><input type="radio" name="optradio">1</label>
                <label class="radio-inline"><input type="radio" name="optradio">2</label>
                <label class="radio-inline"><input type="radio" name="optradio">3</label>
                <label class="radio-inline"><input type="radio" name="optradio">4</label>
                <label class="radio-inline"><input type="radio" name="optradio">5</label>
                <label class="radio-inline"><input type="radio" name="optradio">Затрудняюсь ответить</label>
            </form>

            <h4 class="sub-header">Укажите, пожалуйста, свои замечения и предложения по преподаванию данного предмета у данного учителя.</h4>
                <textarea class="form-control" name="comment" cols="40" rows="3"></textarea></p>
                <center>
                    <a class="btn btn-lg btn-danger btn-orange">Далее</a>
                </center>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
 </html
